body {
  margin: 0;
}

.test-element {
  min-height: 4em;
  background: #aaa;
  background: linear-gradient(to bottom, #eee 0%, #bbb 100%);
  border-bottom: 1px solid #999;
}

.test-element .position {
  display: inline-block;
  line-height: 4em;
  margin: 0 1em;
  color: #999;
}

.test-element .position.positive {
  color: #333;
  transition: color 0.5s;
}

.test-toggle {
  position: fixed;
  left: 1em;
  top: 1em;
}